CREATE DATABASE icinga;
GRANT SELECT, INSERT, UPDATE, DELETE, DROP, CREATE VIEW, INDEX, EXECUTE ON icinga.* TO 'icinga'@'localhost' IDENTIFIED BY {{ icinga_db_password }};
FLUSH PRIVILEGES;
CREATE DATABASE icinga2web;
GRANT SELECT, INSERT, UPDATE, DELETE, DROP, CREATE VIEW, INDEX, EXECUTE ON icinga.* TO 'icinga2web'@'localhost' IDENTIFIED BY {{ icinga_db_password }};
FLUSH PRIVILEGES;